<div class="section-standard hero lp-template">
    <div class="flex-horizontal flip-svp">
      <div class="col small">
        <div class="div-550">
          <h1 class="heading-1">Find your next sneaker</h1>
          <p class="subheadline _500w">Search over 60,000 sneakers from consignment stores and marketplaces around the world</p>
          <div class="form-block _500w w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form"><input type="email" class="text-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Your next sneaker..." id="email-2" required="">
              <a href="#" class="button-3 w-button">Search</a>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer-60 _60-width"></div>
      <div class="flex-horizontal">
        <div class="marquee">
          <div class="marquee-cover"></div>
          <div class="track-vertical-alt">
            <div class="flex-vertical marquee-fix">
              <div class="icon-container"><img src="{{ 'bred2.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'diorjordan.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'supremeaf1.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'bred2.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'diorjordan.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'supremeaf1.png' | asset_url }}" alt="" class="icon"></div>
            </div>
          </div>
        </div>
        <div class="marquee">
          <div class="marquee-cover"></div>
          <div class="track-vertical">
            <div class="flex-vertical marquee-fix">
              <div class="icon-container"><img src="{{ 'jordan-1-mid.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'afewkoi.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'newbalance.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'jordan-1-mid.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'afewkoi.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'newbalance.png' | asset_url }}" alt="" class="icon"></div>
            </div>
          </div>
        </div>
        <div class="marquee">
          <div class="marquee-cover"></div>
          <div class="track-vertical-alt">
            <div class="flex-vertical marquee-fix">
              <div class="icon-container"><img src="{{ '4DD.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'offwhiteting.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'travis.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ '4DD.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'offwhiteting.png' | asset_url }}" alt="" class="icon"></div>
              <div class="spacer-30 _15-xsvp"></div>
              <div class="icon-container"><img src="{{ 'travis.png' | asset_url }}" alt="" class="icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
    {
        "name": "Banner",
        "class": "section-banner",
        "settings": [
            {
                "type": "header",
                "content": "Contemt",
                "info": "Content"
            }
        ],
        "presets": [
            {
                "category": "Banner",
                "name": "Home Page Banner"
            }
        ]
    }
{% endschema %}
