<div class="section-4">
    <div class="cl04">
      <div class="cl04_container">
        <h2 class="cl04_h3">Our partner shops &amp; marketplaces</h2>
        <div class="cl04_card_wrap">
          <div class="cl04_card"><img src="{{ 'logonewsx.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
          <div class="cl04_card"><img src="{{ 'klekt.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
          <div class="cl04_card"><img src="{{ 'flightclub.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
          <div class="cl04_card"><img src="{{ 'farfetch.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
        </div>
        <div class="cl04_card_wrap">
          <div class="cl04_card"><img src="{{ 'wethenew.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
          <div class="cl04_card"><img src="{{ 'stadiumgoods2.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
          <div class="cl04_card"><img src="{{ 'sdfflogo.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
          <div class="cl04_card"><img src="{{ 'blackicon.png' | asset_url }}" alt="" class="cl04_logo_img"></div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
    "name": "Homepage Partners",
    "presets": [
        {
            "category": "custom",
            "name":"Homepage Partners"
        }
    ]
}
{% endschema %}

