<div class="section-5">
    <div class="fe02_container-copy">
      <div class="sneaker"><img src="{{ 'zebraforsite.png' | asset_url }}" width="55" alt="" class="sneakericon">
        <div class="fe02_card_titles">
          <h5 class="sneakertext">ADIDAS</h5>
        </div>
      </div>
      <div class="sneaker"><img src="{{ 'zebraforsite.png' | asset_url }}" alt="" class="sneakericon">
        <div class="fe02_card_titles">
          <h3 class="sneakertext">NIKE</h3>
        </div>
      </div>
      <div class="sneaker"><img src="{{ 'zebraforsite.png' | asset_url }}" alt="" class="sneakericon">
        <div class="fe02_card_titles">
          <h3 class="sneakertext">PUMA</h3>
        </div>
      </div>
    </div>
    <div class="sneaker-row2">
      <div class="sneaker"><img src="{{ 'zebraforsite.png' | asset_url }}" width="55" alt="" class="sneakericon">
        <div class="fe02_card_titles">
          <h5 class="sneakertext">ASICS</h5>
        </div>
      </div>
      <div class="sneaker"><img src="{{ 'zebraforsite.png' | asset_url }}" alt="" class="sneakericon">
        <div class="fe02_card_titles">
          <h3 class="sneakertext">VANS</h3>
        </div>
      </div>
      <div class="sneaker"><img src="{{ 'zebraforsite.png' | asset_url }}" alt="" class="sneakericon">
        <div class="fe02_card_titles">
          <h3 class="sneakertext">REBOOK</h3>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
    "name": "Homepage Collections",
    "presets": [
        {
            "category": "custom",
            "name":"Homepage Collections"
        }
    ]
}
{% endschema %}

