{%- if template.name == 'page' or template.name == 'blog' or template == 'customers/account' or template == 'customers/order' or template == 'customers/addresses' -%}
  {%- assign add_top_margin = true -%}
{%- else -%}
  {%- assign add_top_margin = false -%}
{%- endif -%}

{%- if template == 'page.collections' -%}
  {%- assign add_top_margin = false -%}
{%- endif -%}

<footer id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="footer" class="Footer {% if section.blocks.size <= 2 %}Footer--center{% endif %} {% if add_top_margin %}Footer--withMargin{% endif %}" role="contentinfo">
  
  <div class="f12">
    <div class="f12_container">
      {% if section.blocks.size > 0 %}
        {%- assign footer_menus = '' -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'newsletter' -%}
              {%- capture newsletter -%}
                <div class="f12_title_wrap">
                  {%- if block.settings.title != blank -%}
                    <h3 class="f12_h3">{{block.settings.title}}</h3>
                  {%- endif -%}
                  {%- if block.settings.content != blank -%}
                    <div class="f12_caption">{{block.settings.content}}<br></div>
                  {%- endif -%}
                </div>
                <div class="f12_form_block w-form">
                  {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form' -%}
                    {%- if form.posted_successfully? -%}
                      <p class="Form__Alert Alert Alert--success">{{ 'footer.newsletter.success' | t }}</p>
                    {%- else -%}
                      {%- if form.errors -%}
                        <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                      {%- endif -%}
  
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'footer.newsletter.input' | t }}" placeholder="Join our newsletter" required>
                      <button type="submit" class="Form__Submit Button Button--primary">Sign Up</button>
                    {%- endif -%}
                  {%- endform -%}
                </div>
              {%- endcapture -%}
               
            {%- when 'links' -%}
            {%- assign linklist = linklists[block.settings.menu] -%}

            {%- if linklist != empty -%}
              {%- capture footer_menu -%}
                <div class="f12_column">
                  <div class="f12_title">{{ block.settings.menu_title | default: linklist.title | escape }}</div>
                  {%- for link in linklist.links -%}
                    <a href="{{link.url}}" class="f12_link">{{ link.title | escape }}</a>
                  {%- endfor -%}
                </div>
              {%- endcapture -%}
              {%- capture footer_menus -%}
                {{footer_menus}}{{footer_menu}}
              {%- endcapture -%}
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}

      <div class="f12_footer_top">
        {{newsletter}}
      </div>
      <div class="f12_line"></div>
      <div class="f12_colum_wrap">
        {{ footer_menus }}
        <div class="f12_column_large"></div>
      </div>
      <div class="f12_line"></div>

      {% endif %}
      <div class="f12_footer_legal">
        <div class="f12_legal_left">
          <div class="f12_copywrite_text">©2020 WhizzKid.io. All rights reserved.</div>
        </div>
        <div class="f12_social_wraps">
          <a href="#" class="f12_social_wrap w-inline-block"><i class="fa fa-facebook"></i></a>
          <a href="#" class="f12_social_wrap f12_centre_social w-inline-block"><i class="fa fa-twitter"></i></a>
          <a href="#" class="f12_social_wrap w-inline-block"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

{%- if settings.footer_background == settings.background -%}
  <style>
    .Footer {
      border-top: 1px solid var(--border-color);
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        },
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu Title",
          "info": "Custom Menu Title"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}